<form action="/"  method="POST"  name="registrationForm">

<label for="">name</label>
    <input type="text" name="name" id="" value="">
    <label for="">phon no</label>
    <input type="text" name="address" id="" value="">
    <input type="submit" name="" id="">
</form>
